:root {
    --primario: #6834a6;
    --blanco: #FFF;
    --negro: #000000;
    --fuentePrincipal: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}



/************header*****************/

.header {
    background-image: url(../img/header_bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 10rem;
    padding: 5rem 0;
}

@media (min-width: 768px) { 
    .header {
        background-size: 60rem;
    }
}
@media (min-width: 992px) { 
   .header{ 
       background-size: 70rem;
   }
}
@media (min-width: 1200px) { 
   .header{ 
       background-size: 106rem;
   }
}



.header__contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

@media (min-width: 768px) { 
    .header__barra {
        display: flex;
        justify-content: space-between;
    }
}

.header__logo {
    width: 15rem;
    margin: 0 auto 3rem auto;
}
@media (min-width: 768px) { 
    .header__logo {
        margin: 0;
    }
    .header__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        align-items: center;
    }
}

.header__heading {
    font-size: 3rem;
    text-align: center;
}
@media (min-width: 768px) { 
    .header__heading {
        font-size: 5rem;
        text-align: left;
        line-height: 1.2;
    }
}

@media (min-width: 768px) { 
    .header__imagen{
        max-width: 29rem;
        margin: 0 auto;
    }
}

.header__boton {
    background-color: #6834a6;
    color: #FFF;
    padding: .5rem;
    text-align: center;
    display: block;
    margin-bottom: 4rem;
}
@media (min-width: 768px) { 
    .header__boton {
        display: inline-block;
        padding: 1rem 3rem;
        margin-top: 3rem;
    }
}

/*****************navegacion****************/
.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) { 
    .navegacion {
        flex-direction: row;
        align-items: flex-start;
        gap: 4rem;
        
    }
}

.navegacion__link {
    color: #6834a6;
}
@media (min-width: 768px) { 
    .navegacion__link {
        color:#FFF
    }
}

/******************main***********************/
.nucleus {
    margin-top: 3rem;
}

.nucleus__heading {
    text-align: center;
    margin-bottom: 5rem;
}


.nucleus__contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

@media (min-width: 768px) { 
    .nucleus__contenedor {
        margin: 5rem;
    }    
}


.nucleus__grid { 
    display: flex;
    flex-direction: column-reverse;

}

@media (min-width: 768px) { 
    .nucleus__grid {
        display:grid;
        grid-template-columns: repeat(2 , 1fr);
        align-items: center;
        max-width: 77%;
        column-gap: 5rem;

    }
}

.nucleus__imagen {
    display: none;
}
@media (min-width: 768px) { 
    .nucleus__imagen {
        max-width: 85%;
        margin-left: 5rem;
        display: grid;
    }   
}

@media (min-width: 768px) { 
    .listado__elemento {
    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / 30%);
    padding: 1rem 2rem;
    margin-bottom: 5rem;
    width: 170%;
    background-color: #FFF;
    text-align: center;
    }
}

.listado__elemento {
    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / 30%);
    padding: 1rem 2rem;
    margin-bottom: 5rem;
    width: 100%;
    background-color: #FFF;
    text-align: center;
}
@media (min-width: 768px) { 
    .listado__elemento {
    width: 170%;
    }
}

.listado__elemento:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.listado__heading {
    color: #6834a6;
    text-align: center;
    font-size: 3rem;
    margin: 0; 
    line-height: 0;
    padding-top: 2rem;
}

.listado__texto {
    font-size: 2rem;
}

/****************seguridad***************/
.seguridad {
    background-color: #6834a6;
    padding: 20rem 0;
    position: relative;
    margin:10rem 0;
    overflow: hidden;
}

.seguridad::before, 
.seguridad::after {
    background-color: #FFF;
    content: '';
    height: 20rem;
    width: 130%;
    position: absolute;
}
.seguridad::before {
    top: -10rem;
    left: 0;
    transform: rotate(3deg);
}

.seguridad::after {
    transform: rotate(-3deg);
    bottom: -10rem;
    left: 0;
}


.seguridad__heading {
    text-align: center;
    color: white;
    margin-bottom: 5rem;
}

@media (min-width: 768px) { 
    .seguridad__grid {
        display: grid;
        grid-template-columns: repeat( 2, 1fr);
        column-gap: 5rem;
        align-items: center;
    }
}

.seguridad__elemento {
    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / 30%);
    padding: .2rem 2rem;
    margin-bottom: 5rem;
    width: 100%;
    background-color: #FFF;
}
.seguridad__elemento:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
